@import "./variables";

.current {
  background-color: $current-color;
}

.expecting {
  background-color: $expecting-color;
}

.nav-shadow {
  box-shadow: 0 2px 1px -1px #000;
}

.nav-title {
  font-size: 26px;
  color: white;
  margin-right: auto;
  margin-left: 16px;
}
